# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Logs and Data
logs/
data/
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Type hints
.mypy_cache/
.pyre/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
