# Environments
.env
.env.*
!.env.example
venv/
.venv/
src/.venv/
src/venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# Data
data/
*.sqlite3

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.npm/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
